<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>

        {% if user.is_authenticated %}

        <a href="{% url 'Transaction_add' %}">Add Transaction</a>
        <a href="{% url 'Dashboard' %}">Dashboard</a>
        <a href="{% url 'transaction_list' %}">Transaction</a>
       

        <form id = "logout-form" action = "{% url 'logout' %}" method = "POST">
            {% csrf_token %}
            <a href = "#" onCLick = "document.getElementById('logout-form').submit();">Logout</a>
        </form>

        {% else %}

        <!-- <a href="{% url 'login' %}">Login</a> -->
        <!-- <a href ="{% url 'register' %}">Register</a> -->


        {% endif %}
        
        
    </nav>
   {% block content %}{% endblock content %} 
</body>
</html>