{% extends "finance/base.html" %}
    {% block title %}Transaction form{% endblock title %}
    {% block content %}
    <h1>transaction_list</h1>
    <a href = "{% url 'download_csv' %}">Download CSV</a>
    {% for transaction in Transactions %}
    {{transaction.id}}
    {{transaction.title}}
    {{transaction.amount}}
    {% if transaction.transaction_type == 'Income' %}
    Credit
    {% else %}
    Debit
    {% endif %}<a href="{% url 'update_list' transaction.id %}">Update Transaction</a><a href="{% url 'delete_list' transaction.id %}">Delete Transaction</a>
    {% endfor %}
    <div class="pagination">
  {% if Transactions.has_previous %}
    <a href="?page={{ Transactions.previous_page_number }}">Previous</a>
  {% endif %}
  <span>Page {{ Transactions.number }} of {{ Transactions.paginator.num_pages }}</span>
  {% if Transactions.has_next %}
    <a href="?page={{ Transactions.next_page_number }}">Next</a>
  {% endif %}
</div>
    {% endblock content %} 